@using MarineFarm.DTO;
@model IEnumerable<MateriaPrimaDTO_out>

@{
    ViewData["Title"] = ViewBag.heading = "Materia Prima";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.MateriaPrimaAriaExpanded = "true";
    ViewBag.MateriaPrimaGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.MateriaPrimaColapseGroup = "show";
    ViewBag.CalibreNavLink = "active";

}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <p class="text-sm mb-0">
                    <a asp-action="Ingreso" class="btn btn-primary btn-round"><i class="fa fa-plus"></i></a>
                </p>
                <h5 class="mb-0">Listado De Mariscos Que Aun No Han Sido Procesado</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-flush" id="MarineTable">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Marisco</th>
                            <th>Cantidad</th>
                            <th><i class="text-dark fa fa-gears"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                            @foreach (var item in Model)
                            {
                                string name = $"cant{item.id}";

                                <tr class="text-center">
                                    <td class=" text-sm font-weight-bold">@item.Marisco</td>
                                    <td class="text-sm font-weight-normal">@item.Cantidad</td>
                                    <td class="text-sm font-weight-light">
                                        <div class="input-group mb-3">
                                            <input type="number" value="0" min="0" class="form-control" id=@name aria-label="Recipient's username" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" onclick="agregar(@item.Mariscoid, @item.id)">+</button>
                                            </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
<script>
 
    //para agregar elemento individual
    const agregar = (id,idt) => {
       
        const name = 'cant'+idt
        let cant = document.getElementById(name)
       
         console.log({id, name, 'c':cant.value})

        
        if(cant.value <= 0)
            {
                alert('Valor No Valido')
                return
            }

        const data = {
            Mariscoid:id,
            Cantidad: cant.value
        }
        $.ajax({
           data: data,
           url:   'MateriaPrima/add', //archivo que recibe la peticion
           type:  'post', //método de envio
           success: function(resp){
               if(resp)
                    location.reload()
               else
                alert("Datos No Validos")
           }
        });
    }


</script>



