
@using MarineFarm.DTO;
@model MateriaPrimaDTO_in
@{
    ViewData["Title"] = ViewBag.heading = "Ingreso De Materia Prima";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.MateriaPrimaAriaExpanded = "true";
    ViewBag.MateriaPrimaGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.MateriaPrimaColapseGroup = "show";
    ViewBag.InMateriaPrimaNavLink = "active";
}



<div class="card">
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
    
     
      <h3 class="card-title">
        
    </h3>
  </div>

  <div class="card-body pt-2" id="card">
       <form asp-action="Save" method="post">
         <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                <label asp-for="Mariscoid" class="control-label"> Nombre</label>
                <select asp-for="Mariscoid" asp-items=@ViewBag.listado class="form-control"></select>
                <span asp-validation-for="Mariscoid" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                <label asp-for="Cantidad" class="control-label"> Breve Descripcion </label>
                <input asp-for="Cantidad" class="form-control text-to-upper-alau" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
        </div>
         <div class="card-footer form-group text-center m-0">
             <input type="submit" value="Guardar" class="btn btn-primary rounded-pill" />
             <a class="btn btn-danger rounded-pill" asp-action="Index">Volver</a>
         </div>
    </form>
  </div>
  <div class="card-footer">
      <p class="card-text">
          Ingreso De Materia Prima
      </p>
  </div>
</div>


<script>

     const send = () => {
        
         //obtengo mis datos
         const ins = obtenerMateriasValidas()
        console.log(ins)
      
        //los envio
              $.ajax({
                data: JSON.stringify(ins),
                url:   'GuardarIngreso', //archivo que recibe la peticion
                type:  'post', //método de envio
                success:  function (response) { //una vez que el archivo recibe el request lo procesa y lo devuelve
                        let resp = response ? 'datos guardados' : 'datos no guardados'
                        console.log(resp)
                }
        });   

    }

   
    const obtenerMateriasValidas = () => {

        let materias = []
        let ids = document.getElementsByName('mariscoid')
        let kg = document.getElementsByName('cantkg')
        const vueltas = ids.length

        for(let i = 0; i<vueltas; i++)
            if(kg[i].value > 0)
                materias.push({
                    Mariscoid:ids[i].value,
                    Cantidad:kg[i].value,
                })

        return materias
    }    



</script>