@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}



<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            A Ocurrido un error al procesar su requerimento.
        </h3>
    </div>
    <div class="card-body">
        intente mas tarde acceder a esta funcionalidad;  Puede que la funcion a la que este intentando acceder se encuentre averiada, por favor comuniquese con el equipo de desarrollo para que verifique esta informacion.
    </div>
    
    @if (Model?.ShowRequestId ?? false)
    {
    <div class="card-footer">
        <strong>Error ID:</strong> <code>@Model?.RequestId</code>
    </div>
    }
</div>

