


@{
    ViewData["Title"] = "Home Page";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.HomeAriaExpanded = "true";
    ViewBag.InitiaGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.HomeColapseGroup = "show";
    ViewBag.HomeNavLink = "active";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
