


@{
    ViewData["Title"] = ViewBag.heading = "Pagina Principal";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.HomeAriaExpanded = "true";
    ViewBag.InitiaGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.HomeColapseGroup = "show";
    ViewBag.HomeNavLink = "active";

}

<div class="text-center">
    <p>Pagina Inicial</p>
</div>
