


@{
    ViewData["Title"] = ViewBag.heading = "Pagina Principal";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.HomeAriaExpanded = "true";
    ViewBag.InitiaGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.HomeColapseGroup = "show";
    ViewBag.HomeNavLink = "active";

}

@*<figure class="highcharts-figure">
  <div id="prueba"></div>
  
</figure>*@

<div class="row">
    <div class="col-md-6">

<figure class="highcharts-figure">
  <div id="dia"></div>
</figure>

    </div>
    <div class="col-md-6">

<figure class="highcharts-figure">
  <div id="mes"></div>
</figure>

    </div>
</div>


@section scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script src="~/js/pie.js"></script>
}
