@{
    ViewData["Title"] = "Politicas De Privacidad";

     // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.HomeAriaExpanded = "true";
    ViewBag.InitiaGroupActive = "active";

    // => este es simplemente para que se vea la poscicion actual
    ViewBag.HomeColapseGroup = "show";
    ViewBag.PoliticasNavLink = "active";

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
