@using MarineFarm.DTO;
@model UsuarioClienteDTO_in
@{

     ViewData["Title"] = ViewBag.heading = "Nuevo Usuario Cliente";
    // => este es sobre el boton para expandir y el grupo de botones
    ViewBag.UsuarioAriaExpanded = "true";
    ViewBag.UsuarioGroupActive = "active";
    // => este es simplemente para que se vea la poscicion actual
    ViewBag.UsuarioColapseGroup = "show";
    ViewBag.UsuarioClientesNavLink = "active";
   
}



<div class="card">
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
    <h3 class="card-title">
        Nuevo
    </h3>
  </div>

  <div class="card-body pt-2">
    <form asp-action="GuardarUsuarioCliente" method="post">
         <div class="row">
            <div class="form-group col-md-4 col-xs-12">
                <label asp-for="Nombre" class="control-label"> Nombre</label>
                <input asp-for="Nombre" class="form-control text-to-upper-alau" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-xs-12">
                <label asp-for="rut" class="control-label"> RUT </label>
                <input asp-for="rut" class="form-control text-to-upper-alau" />
                <span asp-validation-for="rut" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-xs-12">
                <label asp-for="Psw" class="control-label"> Contraseña </label>
                <input asp-for="Psw" class="form-control text-to-upper-alau" />
                <span asp-validation-for="Psw" class="text-danger"></span>
            </div>
        </div>
         <div class="row">
            <div class="form-group col-md-4 col-xs-12">
                <label asp-for="Email" class="control-label"> Email</label>
                <input asp-for="Email" class="form-control text-to-upper-alau" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-xs-12">
                <label asp-for="Telefono" class="control-label"> Telefono</label>
                <input asp-for="Telefono" class="form-control text-to-upper-alau" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-xs-12">
                <label asp-for="Clienteid" class="control-label"> Seleccione Cliente </label>
                <select class="form-control" asp-for="Clienteid" asp-items="ViewBag.Clientes"></select>
                <span asp-validation-for="Clienteid" class="text-danger"></span>
            </div>
        </div>
         <div class="card-footer form-group text-center m-0">
             <input type="submit" value="Guardar" class="btn btn-primary rounded-pill" />
             <a class="btn btn-danger rounded-pill" asp-action="Index">Volver</a>
         </div>
    </form>
  
  </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


